@page "/"
@inject IRecipesStore RecipesStore
 
<SearchBox placeholder="Search recipes..." SearchQueryChanged="Search" />

@if (recipes == null)
{
    <p>Loading recipes...</p>
}
else
{
<ul class="recipe-list">
    @foreach (var recipe in recipes)
    {
    <li class="recipe-list-item">
        <a href="@recipe.Id">
            <RecipeCard Recipe="recipe" />
        </a>
    </li>
    }
</ul>
}

@code {
    IEnumerable<Recipe> recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = await RecipesStore.GetRecipes();
    }

    async Task Search(string query)
    {
        recipes = await RecipesStore.GetRecipes(query);
    }
}