<div class="star-rating" style="@($"--star-rating: {Rating};")">
    @if (!RatingChanged.HasDelegate)
    {
        <span class="stars">☆☆☆☆☆</span>
        <span class="rating">@Math.Round(Rating, 1)</span>
    }
    else
    {
        <input type="radio" id="star5" name="star-rating" value="5" />
        <label for="star5"></label>
        <input type="radio" id="star4" name="star-rating" value="4" />
        <label for="star4"></label>
        <input type="radio" id="star3" name="star-rating" value="3" />
        <label for="star3"></label>
        <input type="radio" id="star2" name="star-rating" value="2" />
        <label for="star2"></label>
        <input type="radio" id="star1" name="star-rating" value="1" />
        <label for="star1"></label>
    }
</div>

@code {
    [Parameter]
    public double Rating { get; set; }

    [Parameter]
    public EventCallback<double> RatingChanged { get; set; }

    [Parameter]
    public string Legend { get; set; }
}
