<div>
    <img src="@Image" />
    <div>@Name</div>
    <div>@Source</div>
</div>

@code {
    [Parameter]
    public Uri Image { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Source { get; set; }
}
