<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best For You Organics</title>
    <base href="/" />
    <link href="css/fabric-icons-inline.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BestForYouRecipes.styles.css" rel="stylesheet" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    @* <script src="_framework/blazor.web.js"></script> *@
</body>
</html>