@inherits LayoutComponentBase

<div class="main">
    <header>
        <img src="images/logo-with-text.png" alt="Best For You logo" />
    </header>
    @Body
    <footer>
        Best For You Organics, Co.
    </footer>
</div>
